body
{
    font-family: 'Special Elite', cursive;
    background: rgba(240, 240, 14, 0.897);
}

.header_div
{
    background: rgb(0, 255, 234);
    color: #ce2700;
}

.header_div p{
    font-family: 'Roboto', sans-serif;
    color: gray;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
.main_div button{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width : 130px;
    font-weight: bolder;
    letter-spacing: 3px;
    background-color: red;
}
.copy_right_footer {
    position: fixed;
    color: rgb(92, 92, 92);
    bottom:  0;
    width: 100%;
    font-size: 18px;
    background-color: greenyellow;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(44, 44, 44);
}